/* ANIMATIONS */

@keyframes slideIn {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*  STYLES */

.SearchBar {
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 5px;
  min-width: 250px;
}

.SearchBar form, .SearchBar input {
  height: 100%;
  width: 100%;
}

.SearchBar input {
  background: transparent;
  border: none;
  font-size: 14px;
}
    
.SearchBar-search  {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.SearchMatches {
  position: absolute;
  top: 22px;
  background: white;
  box-shadow: 0 0 4px 1px #b9b9b9;
  border-radius: 5px;
  padding: 20px 0;
}

.SearchMatch {
  cursor: default;
  padding: 10px 20px;
}

.SearchMatch:hover, .SearchMatch:focus {
  background: #d6e8f4;
}

.SearchBar-pills {
  margin-right: 10px;
  display: flex;
}

.SearchPill {
  animation: slideIn;
  animation-duration: 400ms;

  padding: 6px 10px;
  padding-right: 25px;
  position: relative;
  background: #eeeeee;
  max-width: 150px;
  margin-right: 5px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SearchPill button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 10px;
  font-weight: 800;
  position: absolute;
  top: 7px;
  font-size: 13px;
  right: 7px;
}

/* select all children past first*/
.SearchPill:nth-child(n + 2) {
  display: none;
}

@media screen and (min-width: 480px) {
  .SearchBar {
    min-width: 350px;
  }

  /* select first two elements*/
  .SearchPill:nth-child(-n + 3) {
    display: block;
  }

  /* select all children past second*/
  .SearchPill:nth-child(n + 3) {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  /* select first 3 elements*/
  .SearchPill:nth-child(-n + 5) {
    display: block;
  }

  /* select all children past third*/
  .SearchPill:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (min-width: 1040px) {
  /* select all children past first*/
  .SearchBar-pills .SearchPill {
    display: block;
  }
}